<h1 mat-dialog-title>Új barlanglakó hozzáadása</h1>
    <div mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Név</mat-label>
        <input matInput [(ngModel)]="data.name" name="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Kor</mat-label>
        <input matInput type="number" [(ngModel)]="data.age" name="age">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Helyszín</mat-label>
        <input matInput [(ngModel)]="data.location" name="location">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Mégse</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Hozzáad</button>
    </div>
